/*******************************/


/* BLEOW 1344PX /


/*******************************/

@media (max-width: 84em) {
    .hero {
        max-width: 120rem;
    }
    .heading-primary {
        font-size: 4.4rem;
    }
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}


/*******************************/


/* BLEOW 1200PX (Landscape Tablets/


/*******************************/

@media (max-width: 75em) {
    /* ( 9px / 16px ) * 100= 56.25% */
    html {
        font-size: 56.25%;
    }
    .main-nav-list {
        gap: 3.2rem;
    }
    .grid {
        column-gap: 4.8rem;
        row-gap: 6.4rem;
    }
    .heading-secondary {
        font-size: 3.6rem;
    }
    .heading-tertiary {
        font-size: 2.4rem;
    }
    .header {
        padding: 0 3.2rem;
    }
    .hero {
        gap: 4.8rem;
    }
    .testimonials-container {
        padding: 9.6rem 3.2rem;
    }
}


/*******************************/


/* BLEOW 944px (Small Tablets/


/*******************************/

@media (max-width: 59em) {
    /* ( 8px / 16px ) * 100= 50% */
    html {
        font-size: 50%;
    }
    .hero {
        grid-template-columns: 1fr;
        padding: 0 8rem;
        gap: 6.4rem;
    }
    .hero-text-box,
    .hero-img-box {
        text-align: center;
    }
    .delivered-meals {
        justify-content: center;
        margin-top: 3.2rem;
    }
    .hero-img {
        width: 60%;
    }
    .logos-featured img {
        height: 2.4rem;
    }
    .step-number {
        font-size: 7.4rem;
    }
    .meal-content {
        padding: 2.4rem 3.2rem 3.2rem;
    }
    .section-testimonials {
        grid-template-columns: 1fr;
    }
    .gallery {
        grid-template-columns: repeat(6, 1fr);
    }
    .cta {
        grid-template-columns: 3fr 2fr;
    }
    .cta-from {
        grid-template-columns: 1fr;
    }
    .btn--form {
        margin-top: 1.2rem;
    }
    /* Movile Nav */
    .btn-mobile-nav {
        display: block;
    }
    .main-nav {
        background-color: rgba(255, 255, 255, 0.97);
        position: absolute;
        top: 0;
        left: 0%;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translatex(-100%);
        -webkit-transform: translatex(-100%);
        -moz-transform: translatex(-100%);
        -ms-transform: translatex(-100%);
        -o-transform: translatex(-100%);
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        /***************************/
        /*Hide Nav*/
        /***************************/
        /*Not Work With Transition all*/
        /*display: none;
        */
        /*01)Hide It Visually*/
        opacity: 0;
        /*02)Make it unaccessible to Mouse and Keyboard*/
        pointer-events: none;
        /*03)Hide It from screen readers*/
        visibility: hidden;
    }
    /* Make Nav Visibile */
    .nav-open .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translatex(0);
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -ms-transform: translatex(0);
        -o-transform: translatex(0);
    }
    /* .nav-open[name="menu-outline"] {
        display: none;
    }
    .nav-open[name="close-outline"] {
        display: block;
    } */
    .main-nav-list {
        flex-direction: column;
        gap: 4.8rem;
    }
    .main-nav-link:visited,
    .main-nav-link:link {
        font-size: 3rem;
    }
}


/*******************************/


/* BLEOW 700px (Small Tablets)/


/*******************************/

@media (max-width: 44em) {
    .grid--3-cols,
    .grid--4-cols {
        grid-template-columns: 1fr 1fr;
    }
    .diets {
        grid-column: 1 / -1;
        justify-self: center;
    }
    .pricing-plan {
        width: 100%;
    }
    .heading-secondary {
        margin-bottom: 4.8rem;
    }
    .grid--footer {
        grid-template-columns: repeat(6, 1fr);
    }
    .nav-col {
        grid-row: 1;
        grid-column: span 2;
        margin-bottom: 3.2rem;
    }
    .logo-col,
    .address-col {
        grid-column: span 3;
    }
}


/*******************************/


/* BLEOW 544px (Phones)/


/*******************************/

@media (max-width: 34em) {
    .grid {
        row-gap: 4.8rem;
    }
    .grid--2-cols,
    .grid--3-cols,
    .grid--4-cols {
        grid-template-columns: 1fr;
    }
    .btn,
    .btn:visited,
    .btn:link {
        padding: 2.4rem 1.6rem;
    }
    .section-hero {
        padding: 2.4rem 0 6.4rem 0;
    }
    .hero {
        padding: 0 3.2rem;
    }
    .logos-featured img {
        height: 1.2rem;
    }
    .step-img-box:nth-child(2) {
        grid-row: 1;
    }
    .step-img-box:nth-child(6) {
        grid-row: 5;
    }
    .step-img-box {
        transform: translatey(2.4rem);
        -webkit-transform: translatey(2.4rem);
        -moz-transform: translatey(2.4rem);
        -ms-transform: translatey(2.4rem);
        -o-transform: translatey(2.4rem);
    }
    .testimonials {
        grid-template-columns: 1fr;
    }
    .gallery {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.2rem;
    }
    .cta {
        grid-template-columns: 1fr;
    }
    .cta-text-box {
        padding: 3.2rem;
    }
    .cta-img-box {
        height: 32rem;
        grid-row: 1;
    }
}