/*******************************/


/* HEADER */


/*******************************/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fdf2e9;
    /* because we want header to be sticky */
    height: 9.6rem;
    padding: 0 4.8rem;
}

.logo {
    height: 2.2rem;
}


/*******************************/


/* NAVIGATION */


/*******************************/

.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.main-nav-link:visited,
.main-nav-link:link {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: #fff;
    background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
    background-color: #cf711f;
}


/*******************************/


/* HERO SECTION */


/*******************************/

.section-hero {
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
}

.hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
}

.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.hero-img {
    width: 100%;
}

.delivered-meals {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 8rem;
}

.delivered-imgs img {
    height: 4.8rem;
    width: 4.8rem;
    border: 3px solid #fdf2e9;
    border-radius: 50%;
    -webkit-border-radius: ;
    -moz-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
}

.delivered-imgs img:not(:last-child) {
    margin-right: -1.6rem;
}

.delivered-text {
    font-size: 1.8rem;
    font-weight: 600;
}

.delivered-text span {
    color: #cf711f;
    font-weight: 700;
}


/*******************************/


/* Featured SECTION */


/*******************************/

.section-featured {
    padding: 4.8rem 0 3.2rem;
}

.heading-featured {
    font-size: 1.4rem;
    margin-bottom: 2.4rem;
    font-weight: 500;
    color: #888;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    text-align: center;
}

.logos-featured {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logos-featured img {
    height: 3.2rem;
    opacity: .5;
    filter: brightness(0);
    -webkit-filter: brightness(0);
}


/*******************************/


/* HOW IT WORKS SECTION */


/*******************************/

.section-how {
    padding: 9.6rem 0;
}

.step-number {
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
}

.step-description {
    font-size: 1.8rem;
    line-height: 1.8;
}

.step-img-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
    content: "";
    position: absolute;
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.step-img-box::before {
    width: 60%;
    /* 60% of Parent's Width to make box hieght */
    padding-bottom: 60%;
    background-color: #fdf2e9;
    z-index: -2;
}

.step-img-box::after {
    width: 45%;
    /* 60% of Parent's Width to make box hieght */
    padding-bottom: 45%;
    background-color: #fae5d3;
    z-index: -1;
}

.step-img {
    width: 35%;
}


/*******************************/


/* MEALS SECTION */


/*******************************/

.section-meals {
    padding: 9.6rem 0;
}

.meal {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    overflow: hidden;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
}

.meal:hover {
    transform: translatey(-1.2rem);
    -webkit-transform: translatey(-1.2rem);
    -moz-transform: translatey(-1.2rem);
    -ms-transform: translatey(-1.2rem);
    -o-transform: translatey(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-content {
    padding: 3.2rem 4.8rem 4.8rem;
}

.meal-tags {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.4rem;
}

.tag {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #333;
    font-weight: 600;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.tag--vegetarian {
    background-color: #51cf66;
}

.tag--vegan {
    background-color: #94d82d;
}

.tag--paleo {
    background-color: #ffd43b;
}

.meal-title {
    font-size: 2.4rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 3.2rem;
}

.meal-attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.meal-attribute {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.meal-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #e67e22;
}

.meal-img {
    width: 100%;
}

.all-recipes {
    text-align: center;
    font-size: 1.8rem;
}


/*******************************/


/* TESTIMONIALS SECTION */


/*******************************/

.section-testimonials {
    background-color: #fdf2e9;
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
}

.testimonials-container {
    padding: 9.6rem;
}

.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.8rem;
    column-gap: 8rem;
}

.testimonial {}

.testimonial-img {
    width: 6.4rem;
    margin-bottom: 1.2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.testimonial-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
}

.testimonial-name {
    font-size: 1.6rem;
    color: #6f6f6f;
}


/* Gallery */

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
}

.gallery-item {
    overflow: hidden;
}

.gallery-item img {
    /*ToHideTheSpacebetweenimgs*/
    display: block;
    width: 100%;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

.gallery-item img:hover {
    transform: scale(1.1) rotate(3deg);
    -webkit-transform: scale(1.1) rotate(3deg);
    -moz-transform: scale(1.1) rotate(3deg);
    -ms-transform: scale(1.1) rotate(3deg);
    -o-transform: scale(1.1) rotate(3deg);
}


/*******************************/


/* PRICING SECTION */


/*******************************/

.section-pricing {
    padding: 9.6rem 0;
}

.plan-header {
    text-align: center;
    margin-bottom: 4.8rem;
}

.pricing-plan {
    width: 75%;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
}

.pricing-plan--starter {
    justify-self: end;
    border: 2px solid #fdf2e9;
    padding: 4.6rem;
}

.pricing-plan--complete {
    background-color: #fdf2e9;
    padding: 4.8rem;
    position: relative;
    overflow: hidden;
}

.pricing-plan--complete::before {
    content: "best value";
    position: absolute;
    top: 5%;
    right: -19%;
    transform: rotate(45deg);
    padding: .8rem 8rem;
    background-color: #ffd43b;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.plan-name {
    color: #cf711f;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.75;
    margin-bottom: 3.2rem;
}

.plane-price {
    font-size: 6.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1.6rem;
}

.plane-price span {
    font-size: 3rem;
    font-weight: 500;
    margin-right: 0.8rem;
}

.plan-text {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #6f6f6f;
}

.plan-sign-up {
    text-align: center;
    margin-top: 4.8rem;
}

.plane-details {
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
}


/* Start Features */

.feature-icon {
    width: 3.2rem;
    height: 3.2rem;
    color: #e67e22;
    background-color: #fdf2e9;
    padding: 1.6rem;
    margin-bottom: 3.2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.feature-title {
    font-size: 2.4rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.feature-text {
    font-size: 1.8rem;
    line-height: 1.8;
}


/*******************************/


/* PRICING SECTION */


/*******************************/

.section-cta {
    padding: 4.8rem 0 12.8rem;
}

.cta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
    /* height: 50rem; */
    overflow: hidden;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
}

.cta-text-box {
    padding: 4.8rem 6.4rem 6.4rem;
    color: #45260a;
}

.cta .heading-secondary {
    /* color: #45260a; */
    color: inherit;
    margin-bottom: 3.2rem;
}

.cta-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
}

.cta-img-box {
    background-image: linear-gradient(to right bottom, rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.35)), url(../img/eating.jpg);
    background-size: cover;
    background-position: center;
}

.cta-from {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
}

.cta-from label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.cta-from input,
.cta-from select {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #fdf2e9;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-from input::placeholder {
    color: #aaa;
}

.cta *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.2);
}


/*******************************/


/* FOOTER   SECTION */


/*******************************/

.footer {
    border-top: 1px solid #eee;
    padding: 12.8rem 0;
}

.grid--footer {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    display: block;
    margin-bottom: 3.2rem;
}

.social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
}

.social-icon {
    height: 2.4rem;
    width: 2.4rem;
}

.copyright {
    font-size: 1.4rem;
    color: #767676;
    line-height: 1.6;
    margin-top: auto;
}

.footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.contacts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
}

.address {
    margin-bottom: 2.4rem;
    ;
}

.footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #767676;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
    color: #555;
}